mixin artist-settings-personalInfo()
    .form-group
        label(for='acname') Account Name
        |
        sup *
        |                                             
        input#acname.text_field(placeholder='Name Surname', name='fullname', value='' + fullname, type='text')
    |                                         
    .form-group
        label(for='usrname') Username
        | 
        sup *
        |                                             
        input#usrname.text_field(placeholder='Account name', name='username', value='' + username, type='text')
        |                                             
        p
        | Your Eventum URL: https://eventum.com/
        span #{username}
    |                                         
    .form-group
        label(for='emailad') Email Address
        | 
        sup *
        |                                             
        input#emailad.text_field(placeholder='contact@somemail.com', name='email', value='' + email, type='text')
    |                                         
    .col-md-6
        .form-group
            label(for='password') New Password 
            |
            sup *
            |                                                     
            input#password.text_field(placeholder='enter new password', name='passwordMain', value='' + passwordMain, type='password')
        |                                             
    .col-md-6
        .form-group
            label(for='conpassword') Confirm New Password
            |  
            sup *
            |                                                     
            input#conpassword.text_field(placeholder='re-enter new password', name='passwordSecondary', value='' + passwordSecondary ,type='password')
    |                                         
    .form-group
        label(for='website') Website
        |                                             
        input#website.text_field(placeholder='Website', name='webpage', value='' + webpage, type='text')
        |                                         
    .form-group
        label(for='country')
            | Country 
            sup *
        |                                             
        .select-wrap.select-wrap2
            select#country.text_field(name='country')
                option(selected='selected') #{country}
                option(value='') Select one
                |                                                     
                option(value='bangladesh') Bangladesh
                |                                                     
                option(value='india') India
                |                                                     
                option(value='uruguye') Uruguye
                |                                                     
                option(value='australia') Australia
                |                                                     
                option(value='neverland') Neverland
                |                                                     
                option(value='atlantis') Atlantis
            |                                                 
            span.lnr.lnr-chevron-down
        |

    .form-group
        label(for='authbio') Author Bio
        |                                             
        textarea#authbio.text_field(name='authorBio', placeholder='Short brief about yourself or your account...') #{authorBio}
        
mixin artist-settings-emailSettings()
    .custom_checkbox
        input#mailopt1(name='mailOnComment', type='checkbox' checked=mailOnComment)
        |                                             
        label(for='mailopt1')
            span.shadow_checkbox
            |                                                 
            span.radio_title Event Comment Notifications
            |                                                 
            span.desc Send me an email when someone comments on one of my events
    .custom_checkbox
        input#mailopt2(name='mailOnApproval', type='checkbox' checked=mailOnApproval)
        |                                             
        label(for='mailopt2')
            span.shadow_checkbox
            |                                                 
            span.radio_title Event Review Notifications
            |                                                 
            span.desc Send me an email when my events are approved or rejected
    .custom_checkbox
        input#mailopt3(name='mailOnReview', type='checkbox' checked=mailOnReview)
        |                                             
        label(for='mailopt3')
            span.shadow_checkbox
            |                                                 
            span.radio_title Buyer Review Notifications
            |                                                 
            span.desc Send me an email when someone leaves a review with their rating
    .custom_checkbox
        input#mailopt4(name='mailOnExpire', type='checkbox' checked=mailOnExpire)
        |                                             
        label(for='mailopt4')
            span.shadow_checkbox
            |                                                 
            span.radio_title Weekly Summary Emails
            |                                                 
            span.desc Send me emails showing my soon to expire support entitlements
    .custom_checkbox
        input#mailopt5(name='mailOnUpdates', type='checkbox' checked=mailOnUpdates)
        |                                             
        label(for='mailopt5')
            span.shadow_checkbox
            |                                                 
            span.radio_title eventum Newsletter
            |                                                 
            span.desc Get update about latest news, update and more.    