mixin user-event()
    .row#event-list
        each eventCard in account.eventInfo
            .col-md-6.col-sm-6
                .product.product--card
                    .product__thumbnail
                        img#event-coverPhoto(src='' + eventCard.coverPhoto, alt='Product Image')
                        .prod_btn
                            a.transparent.btn--sm.btn--round(href='/event/' + eventCard.eventId) Event Info
                            a.transparent.btn--sm.btn--round(href='/profile/' + eventCard.username) Author Profile
                    .product-desc
                        a.product_title(href='/event/' + eventCard.eventId)
                            h4#event-title #{eventCard.title}
                        .row
                            .col-md-8
                                ul.titlebtm
                                    li
                                        img.auth-img#event-author(src='' + eventCard.authorImg, alt='author image', width='30px')
                                        p
                                            a(href='' + eventCard.authorProfile) #{eventCard.name}
                                    li.product_cat
                                        span.lnr.lnr-book
                                        each category in eventCard.categories
                                            a(href='#')
                                                | #{category.name}
                            .col-md-4
                                |#{eventCard.city}

                        p#event-date
                            | Date of event: #{eventCard.date} 
                        p#event-description
                            | #{eventCard.description}
                    .product-purchase